<div class="container">

  <% if current_user %>
    <h1>Currently logged in: <%= current_user.name %></h1>
    <% @users.each do |user| %>
    <%= user.name %><br>
    <% end %>
  <% else %>
    <h1>Welcome</h1>
  <% end %>

</div>

